<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="dropzone.js"></script>
    <link href="dropzone.css" type="text/css" rel="stylesheet">

</head>
<body>
<form action="/v1/api/upload" method="post" enctype="multipart/form-data" >
    <p><input type="file" name="file" class="dropzone">
    <p><button type="submit">Submit</button>
</form>
</body>
</html>